@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(222, 76, 248);
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: 0;
  border-radius: 5px;
  margin: 20px;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.9;
}
